.bgdred {
  background: red !important;
}

.bgdgelb {
  background: #d6d819 !important;
}

.bgdgruen {
  background: #72bf44 !important;
}

.bgdorange {
  background: #f58220 !important;
}

.bgdtuerkis {
  background: #00babe !important;
}

.bgdhgrau {
  background: rgba(163, 163, 163, 0.5) !important;
}

.bgddgrau {
  background: #414042 !important;
}

.bgdweiss {
  background: white !important;
}

.bgdschwarz {
  background: black !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow: scroll;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

body .card {
  background-color: transparent;
  margin-bottom: 15px;
  border: none;
}

body .card .card-title {
  font-family: "Roboto Slab", serif;
  color: white;
}

body .slick-slider .slick-arrow {
  z-index: 1;
}

body .slick-slider .slick-prev {
  left: 4px;
}

body .slick-slider .slick-next {
  right: 4px;
}

body a {
  color: rgba(163, 163, 163, 0.5);
}

body a:hover {
  color: #f58220;
}

body .background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #414042;
}

body .background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .background span:nth-child(1) {
  color: #72bf44;
  top: 43%;
  left: 66%;
  -webkit-animation-duration: 15.2s;
          animation-duration: 15.2s;
  -webkit-animation-delay: -4.3s;
          animation-delay: -4.3s;
  -webkit-transform-origin: 4vw 6vh;
          transform-origin: 4vw 6vh;
  -webkit-box-shadow: -40vmin 0 2.10918vmin currentColor;
          box-shadow: -40vmin 0 2.10918vmin currentColor;
}

body .background span:nth-child(2) {
  color: #00babe;
  top: 57%;
  left: 9%;
  -webkit-animation-duration: 11.6s;
          animation-duration: 11.6s;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform-origin: 15vw -19vh;
          transform-origin: 15vw -19vh;
  -webkit-box-shadow: 40vmin 0 2.64235vmin currentColor;
          box-shadow: 40vmin 0 2.64235vmin currentColor;
}

body .background span:nth-child(3) {
  color: #d6d819;
  top: 74%;
  left: 98%;
  -webkit-animation-duration: 10.7s;
          animation-duration: 10.7s;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform-origin: -4vw -23vh;
          transform-origin: -4vw -23vh;
  -webkit-box-shadow: 40vmin 0 1.18568vmin currentColor;
          box-shadow: 40vmin 0 1.18568vmin currentColor;
}

body .background span:nth-child(4) {
  color: #72bf44;
  top: 72%;
  left: 44%;
  -webkit-animation-duration: 14.4s;
          animation-duration: 14.4s;
  -webkit-animation-delay: -7.7s;
          animation-delay: -7.7s;
  -webkit-transform-origin: -3vw -13vh;
          transform-origin: -3vw -13vh;
  -webkit-box-shadow: -40vmin 0 1.44963vmin currentColor;
          box-shadow: -40vmin 0 1.44963vmin currentColor;
}

body .background span:nth-child(5) {
  color: #72bf44;
  top: 26%;
  left: 45%;
  -webkit-animation-duration: 11.1s;
          animation-duration: 11.1s;
  -webkit-animation-delay: -9.5s;
          animation-delay: -9.5s;
  -webkit-transform-origin: 1vw 20vh;
          transform-origin: 1vw 20vh;
  -webkit-box-shadow: -40vmin 0 1.083vmin currentColor;
          box-shadow: -40vmin 0 1.083vmin currentColor;
}

body .background span:nth-child(6) {
  color: #f58220;
  top: 18%;
  left: 52%;
  -webkit-animation-duration: 11.6s;
          animation-duration: 11.6s;
  -webkit-animation-delay: -8.5s;
          animation-delay: -8.5s;
  -webkit-transform-origin: -3vw 18vh;
          transform-origin: -3vw 18vh;
  -webkit-box-shadow: -40vmin 0 1.17063vmin currentColor;
          box-shadow: -40vmin 0 1.17063vmin currentColor;
}

body .background span:nth-child(7) {
  color: red;
  top: 53%;
  left: 90%;
  -webkit-animation-duration: 15.2s;
          animation-duration: 15.2s;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform-origin: 9vw -2vh;
          transform-origin: 9vw -2vh;
  -webkit-box-shadow: -40vmin 0 1.66235vmin currentColor;
          box-shadow: -40vmin 0 1.66235vmin currentColor;
}

body .background span:nth-child(8) {
  color: #72bf44;
  top: 49%;
  left: 60%;
  -webkit-animation-duration: 14.9s;
          animation-duration: 14.9s;
  -webkit-animation-delay: -7.9s;
          animation-delay: -7.9s;
  -webkit-transform-origin: -13vw 22vh;
          transform-origin: -13vw 22vh;
  -webkit-box-shadow: -40vmin 0 1.13366vmin currentColor;
          box-shadow: -40vmin 0 1.13366vmin currentColor;
}

body .background span:nth-child(9) {
  color: #d6d819;
  top: 69%;
  left: 82%;
  -webkit-animation-duration: 15.9s;
          animation-duration: 15.9s;
  -webkit-animation-delay: -10.3s;
          animation-delay: -10.3s;
  -webkit-transform-origin: -8vw -12vh;
          transform-origin: -8vw -12vh;
  -webkit-box-shadow: -40vmin 0 2.35456vmin currentColor;
          box-shadow: -40vmin 0 2.35456vmin currentColor;
}

body .background span:nth-child(10) {
  color: #d6d819;
  top: 95%;
  left: 93%;
  -webkit-animation-duration: 12.6s;
          animation-duration: 12.6s;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform-origin: 0vw -15vh;
          transform-origin: 0vw -15vh;
  -webkit-box-shadow: -40vmin 0 1.53644vmin currentColor;
          box-shadow: -40vmin 0 1.53644vmin currentColor;
}

body .background span:nth-child(11) {
  color: #00babe;
  top: 12%;
  left: 79%;
  -webkit-animation-duration: 12.4s;
          animation-duration: 12.4s;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  -webkit-transform-origin: 4vw 18vh;
          transform-origin: 4vw 18vh;
  -webkit-box-shadow: 40vmin 0 1.38568vmin currentColor;
          box-shadow: 40vmin 0 1.38568vmin currentColor;
}

body .background span:nth-child(12) {
  color: #00babe;
  top: 18%;
  left: 100%;
  -webkit-animation-duration: 12.3s;
          animation-duration: 12.3s;
  -webkit-animation-delay: -5.3s;
          animation-delay: -5.3s;
  -webkit-transform-origin: 17vw -5vh;
          transform-origin: 17vw -5vh;
  -webkit-box-shadow: 40vmin 0 1.39672vmin currentColor;
          box-shadow: 40vmin 0 1.39672vmin currentColor;
}

body .background span:nth-child(13) {
  color: rgba(163, 163, 163, 0.5);
  top: 22%;
  left: 53%;
  -webkit-animation-duration: 10.2s;
          animation-duration: 10.2s;
  -webkit-animation-delay: -13.1s;
          animation-delay: -13.1s;
  -webkit-transform-origin: 17vw 7vh;
          transform-origin: 17vw 7vh;
  -webkit-box-shadow: -40vmin 0 2.04692vmin currentColor;
          box-shadow: -40vmin 0 2.04692vmin currentColor;
}

body .background span:nth-child(14) {
  color: #72bf44;
  top: 88%;
  left: 77%;
  -webkit-animation-duration: 14.8s;
          animation-duration: 14.8s;
  -webkit-animation-delay: -9.7s;
          animation-delay: -9.7s;
  -webkit-transform-origin: -14vw 8vh;
          transform-origin: -14vw 8vh;
  -webkit-box-shadow: 40vmin 0 1.91029vmin currentColor;
          box-shadow: 40vmin 0 1.91029vmin currentColor;
}

body .background span:nth-child(15) {
  color: #d6d819;
  top: 73%;
  left: 38%;
  -webkit-animation-duration: 12.5s;
          animation-duration: 12.5s;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform-origin: -12vw -15vh;
          transform-origin: -12vw -15vh;
  -webkit-box-shadow: -40vmin 0 1.51302vmin currentColor;
          box-shadow: -40vmin 0 1.51302vmin currentColor;
}

body .background span:nth-child(16) {
  color: rgba(163, 163, 163, 0.5);
  top: 7%;
  left: 67%;
  -webkit-animation-duration: 10.3s;
          animation-duration: 10.3s;
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
  -webkit-transform-origin: 13vw -9vh;
          transform-origin: 13vw -9vh;
  -webkit-box-shadow: 40vmin 0 1.51657vmin currentColor;
          box-shadow: 40vmin 0 1.51657vmin currentColor;
}

body .background span:nth-child(17) {
  color: red;
  top: 95%;
  left: 86%;
  -webkit-animation-duration: 13.8s;
          animation-duration: 13.8s;
  -webkit-animation-delay: -4.9s;
          animation-delay: -4.9s;
  -webkit-transform-origin: 14vw 21vh;
          transform-origin: 14vw 21vh;
  -webkit-box-shadow: 40vmin 0 2.03596vmin currentColor;
          box-shadow: 40vmin 0 2.03596vmin currentColor;
}

body .background span:nth-child(18) {
  color: #d6d819;
  top: 65%;
  left: 77%;
  -webkit-animation-duration: 13.7s;
          animation-duration: 13.7s;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform-origin: -24vw 19vh;
          transform-origin: -24vw 19vh;
  -webkit-box-shadow: 40vmin 0 0.92022vmin currentColor;
          box-shadow: 40vmin 0 0.92022vmin currentColor;
}

body .background span:nth-child(19) {
  color: rgba(163, 163, 163, 0.5);
  top: 33%;
  left: 16%;
  -webkit-animation-duration: 14.6s;
          animation-duration: 14.6s;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  -webkit-transform-origin: 17vw -7vh;
          transform-origin: 17vw -7vh;
  -webkit-box-shadow: -40vmin 0 2.53414vmin currentColor;
          box-shadow: -40vmin 0 2.53414vmin currentColor;
}

body .background span:nth-child(20) {
  color: #72bf44;
  top: 96%;
  left: 54%;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  -webkit-animation-delay: -6.2s;
          animation-delay: -6.2s;
  -webkit-transform-origin: -4vw -16vh;
          transform-origin: -4vw -16vh;
  -webkit-box-shadow: -40vmin 0 1.98852vmin currentColor;
          box-shadow: -40vmin 0 1.98852vmin currentColor;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
