.bgdred {
  background: red !important;
}

.bgdgelb {
  background: #d6d819 !important;
}

.bgdgruen {
  background: #72bf44 !important;
}

.bgdorange {
  background: #f58220 !important;
}

.bgdtuerkis {
  background: #00babe !important;
}

.bgdhgrau {
  background: rgba(163, 163, 163, 0.5) !important;
}

.bgddgrau {
  background: #414042 !important;
}

.bgdweiss {
  background: white !important;
}

.bgdschwarz {
  background: black !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow: scroll;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

body .card {
  background-color: transparent;
  margin-bottom: 15px;
  border: none;
}

body .card .card-title {
  font-family: "Roboto Slab", serif;
  color: white;
}

body .slick-slider .slick-arrow {
  z-index: 1;
}

body .slick-slider .slick-prev {
  left: 4px;
}

body .slick-slider .slick-next {
  right: 4px;
}

body a {
  color: rgba(163, 163, 163, 0.5);
}

body a:hover {
  color: #f58220;
}

body .background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #414042;
}

body .background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .background span:nth-child(1) {
  color: rgba(163, 163, 163, 0.5);
  top: 26%;
  left: 31%;
  width: 10vmin;
  height: 10vmin;
  -webkit-animation-duration: 10.1s;
          animation-duration: 10.1s;
  -webkit-animation-delay: -10.7s;
          animation-delay: -10.7s;
  -webkit-transform-origin: 23vw -19vh;
          transform-origin: 23vw -19vh;
  -webkit-box-shadow: -20vmin 0 1.0154vmin currentColor;
          box-shadow: -20vmin 0 1.0154vmin currentColor;
}

body .background span:nth-child(2) {
  color: rgba(163, 163, 163, 0.5);
  top: 98%;
  left: 100%;
  width: 4vmin;
  height: 4vmin;
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
  -webkit-animation-delay: -14.3s;
          animation-delay: -14.3s;
  -webkit-transform-origin: 12vw -4vh;
          transform-origin: 12vw -4vh;
  -webkit-box-shadow: -8vmin 0 0.52858vmin currentColor;
          box-shadow: -8vmin 0 0.52858vmin currentColor;
}

body .background span:nth-child(3) {
  color: rgba(163, 163, 163, 0.5);
  top: 90%;
  left: 80%;
  width: 16vmin;
  height: 16vmin;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -14.3s;
          animation-delay: -14.3s;
  -webkit-transform-origin: 14vw 6vh;
          transform-origin: 14vw 6vh;
  -webkit-box-shadow: -32vmin 0 1.81623vmin currentColor;
          box-shadow: -32vmin 0 1.81623vmin currentColor;
}

body .background span:nth-child(4) {
  color: rgba(163, 163, 163, 0.5);
  top: 36%;
  left: 61%;
  width: 6vmin;
  height: 6vmin;
  -webkit-animation-duration: 14.7s;
          animation-duration: 14.7s;
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
  -webkit-transform-origin: -23vw -17vh;
          transform-origin: -23vw -17vh;
  -webkit-box-shadow: 12vmin 0 0.43567vmin currentColor;
          box-shadow: 12vmin 0 0.43567vmin currentColor;
}

body .background span:nth-child(5) {
  color: rgba(163, 163, 163, 0.5);
  top: 47%;
  left: 70%;
  width: 4vmin;
  height: 4vmin;
  -webkit-animation-duration: 11.9s;
          animation-duration: 11.9s;
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
  -webkit-transform-origin: 5vw -18vh;
          transform-origin: 5vw -18vh;
  -webkit-box-shadow: 8vmin 0 0.45839vmin currentColor;
          box-shadow: 8vmin 0 0.45839vmin currentColor;
}

body .background span:nth-child(6) {
  color: rgba(163, 163, 163, 0.5);
  top: 64%;
  left: 21%;
  width: 16vmin;
  height: 16vmin;
  -webkit-animation-duration: 13.2s;
          animation-duration: 13.2s;
  -webkit-animation-delay: -15.7s;
          animation-delay: -15.7s;
  -webkit-transform-origin: 12vw -6vh;
          transform-origin: 12vw -6vh;
  -webkit-box-shadow: -32vmin 0 0.95922vmin currentColor;
          box-shadow: -32vmin 0 0.95922vmin currentColor;
}

body .background span:nth-child(7) {
  color: rgba(163, 163, 163, 0.5);
  top: 27%;
  left: 33%;
  width: 20vmin;
  height: 20vmin;
  -webkit-animation-duration: 15.8s;
          animation-duration: 15.8s;
  -webkit-animation-delay: -9.8s;
          animation-delay: -9.8s;
  -webkit-transform-origin: 16vw -21vh;
          transform-origin: 16vw -21vh;
  -webkit-box-shadow: -40vmin 0 1.39877vmin currentColor;
          box-shadow: -40vmin 0 1.39877vmin currentColor;
}

body .background span:nth-child(8) {
  color: rgba(163, 163, 163, 0.5);
  top: 36%;
  left: 18%;
  width: 14vmin;
  height: 14vmin;
  -webkit-animation-duration: 10.6s;
          animation-duration: 10.6s;
  -webkit-animation-delay: -15.1s;
          animation-delay: -15.1s;
  -webkit-transform-origin: 21vw 14vh;
          transform-origin: 21vw 14vh;
  -webkit-box-shadow: -28vmin 0 1.22464vmin currentColor;
          box-shadow: -28vmin 0 1.22464vmin currentColor;
}

body .background span:nth-child(9) {
  color: rgba(163, 163, 163, 0.5);
  top: 77%;
  left: 90%;
  width: 16vmin;
  height: 16vmin;
  -webkit-animation-duration: 11.8s;
          animation-duration: 11.8s;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  -webkit-transform-origin: 11vw -6vh;
          transform-origin: 11vw -6vh;
  -webkit-box-shadow: -32vmin 0 0.84836vmin currentColor;
          box-shadow: -32vmin 0 0.84836vmin currentColor;
}

body .background span:nth-child(10) {
  color: rgba(163, 163, 163, 0.5);
  top: 72%;
  left: 41%;
  width: 3vmin;
  height: 3vmin;
  -webkit-animation-duration: 15.7s;
          animation-duration: 15.7s;
  -webkit-animation-delay: -14.1s;
          animation-delay: -14.1s;
  -webkit-transform-origin: 5vw -16vh;
          transform-origin: 5vw -16vh;
  -webkit-box-shadow: -6vmin 0 0.33554vmin currentColor;
          box-shadow: -6vmin 0 0.33554vmin currentColor;
}

body .background span:nth-child(11) {
  color: rgba(163, 163, 163, 0.5);
  top: 67%;
  left: 46%;
  width: 8vmin;
  height: 8vmin;
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
  -webkit-transform-origin: 22vw -13vh;
          transform-origin: 22vw -13vh;
  -webkit-box-shadow: -16vmin 0 0.76579vmin currentColor;
          box-shadow: -16vmin 0 0.76579vmin currentColor;
}

body .background span:nth-child(12) {
  color: rgba(163, 163, 163, 0.5);
  top: 37%;
  left: 65%;
  width: 17vmin;
  height: 17vmin;
  -webkit-animation-duration: 13.1s;
          animation-duration: 13.1s;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform-origin: 19vw -19vh;
          transform-origin: 19vw -19vh;
  -webkit-box-shadow: 34vmin 0 0.78393vmin currentColor;
          box-shadow: 34vmin 0 0.78393vmin currentColor;
}

body .background span:nth-child(13) {
  color: rgba(163, 163, 163, 0.5);
  top: 75%;
  left: 41%;
  width: 16vmin;
  height: 16vmin;
  -webkit-animation-duration: 15.1s;
          animation-duration: 15.1s;
  -webkit-animation-delay: -3.7s;
          animation-delay: -3.7s;
  -webkit-transform-origin: 4vw -6vh;
          transform-origin: 4vw -6vh;
  -webkit-box-shadow: 32vmin 0 0.99483vmin currentColor;
          box-shadow: 32vmin 0 0.99483vmin currentColor;
}

body .background span:nth-child(14) {
  color: rgba(163, 163, 163, 0.5);
  top: 41%;
  left: 35%;
  width: 14vmin;
  height: 14vmin;
  -webkit-animation-duration: 15.8s;
          animation-duration: 15.8s;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform-origin: 22vw 25vh;
          transform-origin: 22vw 25vh;
  -webkit-box-shadow: 28vmin 0 0.8442vmin currentColor;
          box-shadow: 28vmin 0 0.8442vmin currentColor;
}

body .background span:nth-child(15) {
  color: rgba(163, 163, 163, 0.5);
  top: 80%;
  left: 70%;
  width: 10vmin;
  height: 10vmin;
  -webkit-animation-duration: 10.2s;
          animation-duration: 10.2s;
  -webkit-animation-delay: -6.3s;
          animation-delay: -6.3s;
  -webkit-transform-origin: -2vw -17vh;
          transform-origin: -2vw -17vh;
  -webkit-box-shadow: 20vmin 0 0.61925vmin currentColor;
          box-shadow: 20vmin 0 0.61925vmin currentColor;
}

body .background span:nth-child(16) {
  color: rgba(163, 163, 163, 0.5);
  top: 91%;
  left: 22%;
  width: 3vmin;
  height: 3vmin;
  -webkit-animation-duration: 12.3s;
          animation-duration: 12.3s;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform-origin: 13vw -11vh;
          transform-origin: 13vw -11vh;
  -webkit-box-shadow: -6vmin 0 0.3446vmin currentColor;
          box-shadow: -6vmin 0 0.3446vmin currentColor;
}

body .background span:nth-child(17) {
  color: rgba(163, 163, 163, 0.5);
  top: 35%;
  left: 19%;
  width: 16vmin;
  height: 16vmin;
  -webkit-animation-duration: 13.8s;
          animation-duration: 13.8s;
  -webkit-animation-delay: -10.7s;
          animation-delay: -10.7s;
  -webkit-transform-origin: -22vw 13vh;
          transform-origin: -22vw 13vh;
  -webkit-box-shadow: 32vmin 0 0.95638vmin currentColor;
          box-shadow: 32vmin 0 0.95638vmin currentColor;
}

body .background span:nth-child(18) {
  color: rgba(163, 163, 163, 0.5);
  top: 17%;
  left: 84%;
  width: 19vmin;
  height: 19vmin;
  -webkit-animation-duration: 14.7s;
          animation-duration: 14.7s;
  -webkit-animation-delay: -7.3s;
          animation-delay: -7.3s;
  -webkit-transform-origin: -5vw -19vh;
          transform-origin: -5vw -19vh;
  -webkit-box-shadow: -38vmin 0 1.6196vmin currentColor;
          box-shadow: -38vmin 0 1.6196vmin currentColor;
}

body .background span:nth-child(19) {
  color: rgba(163, 163, 163, 0.5);
  top: 38%;
  left: 94%;
  width: 16vmin;
  height: 16vmin;
  -webkit-animation-duration: 14.3s;
          animation-duration: 14.3s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform-origin: -23vw 14vh;
          transform-origin: -23vw 14vh;
  -webkit-box-shadow: -32vmin 0 1.93432vmin currentColor;
          box-shadow: -32vmin 0 1.93432vmin currentColor;
}

body .background span:nth-child(20) {
  color: rgba(163, 163, 163, 0.5);
  top: 50%;
  left: 52%;
  width: 7vmin;
  height: 7vmin;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform-origin: 21vw -10vh;
          transform-origin: 21vw -10vh;
  -webkit-box-shadow: -14vmin 0 0.44808vmin currentColor;
          box-shadow: -14vmin 0 0.44808vmin currentColor;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
