$red:rgba(255,0,0,1);
$hgrau:rgba(163, 163, 163,.5);
$dgrau:rgba(43,43,43,1);
$weiss:rgba(255,255,255,1);
$schwarz:rgba(0,0,0,1);

$font-family: 'Fira Sans', sans-serif;
$font-size:1rem; 
$line-height:1.6rem; 
$letterspacing: 0;
$font-color:$schwarz;

$smallfont-size:.9rem; 
$smallfont-line-height:1.1rem; 

$light: 300!important;
$regular: 400!important;
$bold: 500!important;

$h1-size:1.6rem;
$h2-size:1.6px;
$h3-size:1.4rem;

$h1-line-height:2.2rem;
$h2-line-height:2rem;
$h3-line-height:1.6rem;

.bgdred {background:$red}
.bgdhgrau {background:$hgrau}
.bgddgrau {background:$dgrau}
.bgdweiss {background:$weiss}
.bgdschwarz {background:$schwarz}

*{box-sizing:border-box ;}

body {
  margin: 0;
  overflow: hidden;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0 auto;
    padding: 15px;
    background:$weiss;
    width: 100%;
    div {
      border: 1px solid $red;
      margin: 15px 0;
    }
  }

  .background {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background:$dgrau;
    $particleSize:20vmin;
    $animationDuration: 6s;
    $amount: 20;
    span {
      width: $particleSize;
      height: $particleSize;
      border-radius: $particleSize;
      backface-visibility: hidden;
      position: absolute;
      animation-name: move;
      animation-duration: $animationDuration;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      $colors: ($hgrau);
      @for $i from 1 through $amount {
        &:nth-child(#{$i}) {
          color: nth($colors, random(length($colors)));
          top: random(100) * 1%;
          left: random(100) * 1%;
          animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
          animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
          transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
          $blurRadius: (random() + 0.5) * $particleSize * 0.09;
          $x: if(random() > 0.5, -1, 1);
          box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
          //box-shadow: ($particleSize * 2 * $x) 0 0 currentColor;
        }
      }
    }
  }
  
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
}